/* index样式表 */

/* 顶部导航栏样式表 开始 */
.top-bar-wrapper {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #323232;
}

.top-bar-wrapper a {
    color: #b0b0b0;
}

.top-bar {
    font-size: 12px;
}

.top-bar a:hover {
    color: white;
}

.service, .top-bar li{
    float: left;
}

.download-li {
    position: relative;
}

.download-li:hover .download-app {
    height: 148px;
}

.download-li:hover a::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0px;
    height: 0px;
    margin-left: -8px;
    border-width: 0px 8px 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0)  rgba(0, 0, 0, 0)  #fff;
}

.download-app {
    position: absolute;
    height: 0px;
    width: 128px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background-color: white;
    z-index: 99;
    left: -40px;
    transition: height .3s;
    overflow: hidden;
}

.download-app img {
    height: 90px;
    width: 90px;
    margin: 18px 17px 0px;
}


.shop-cart {
    float: right;
    height: 40px;
    line-height: 40px;
    background-color: #424242;
    width: 120px;
    margin-left: 15px;
    position: relative;
    transition: all .2s;
}

.shop-cart li {
    width: 100%;
    text-align: center;
}

.shop-cart a {
    display: block;
    width: 100%;
}

.shop-cart:hover a {
    background-color: #fff;
    color: #ff6700;
}

.shop-cart:hover .shop-cart-list {
    top: 40px;
    height: 100px;
    line-height: 100px;
    transition: height .2s;
}

.shop-cart i {
    margin-right: 3px;
}

.shop-cart-list {
    width: 316px;
    height: 0px;
    line-height: 0px;
    right: 0px;
    top: -80px;
    position: absolute;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    background-color: #fff;
    text-align: center;
    z-index: 999;
}

.user-info {
    float: right;
    height: 40px;
    line-height: 40px;
}

.split-line {
    margin: 0 .6em;
    color: #424242;
}

/* 顶部导航栏样式表 结束 */

/* 网页头部LOGO栏样式表 开始 */
.header {
    height: 100px;
    line-height: 100px;
    width: 100%;
    position: relative;
}

.header-logo, .header-category, .header-category li {
    float: left;
}

.header-logo {
    width: 234px;
    height: 100px;
    line-height: 100px;
}

.header-logo img {
    width: 56px;
    height: 56px;
}

.header-category .header-category-title {
    font-size: 16px;
    color: #333;
    display: block;
    padding: 0px 10px;
}

.header-category li:hover .header-category-title {
    color: #ff6700;
}

.item-list-content {
    height: 0px;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    background-color: #fff;
    /* 
        注意：此处一定要设置overflow 否则父元素高度为0，子元素高度不为0仍然会显示出来。
            而如果使用display来隐藏，触发hover的时候设置display:none，则无法使用到transition的渐进效果。
            display和transition冲突。
            通过设置overflow: hidden完美解决这个问题，搞了一天。
    */
    overflow: hidden;
    transition: box-shadow .2s, height .3s;
    z-index: 99;
}

.header-category li.show:hover ~ .item-list-content,
.item-list-content:hover {
    height: 229px;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .18);
}

.item-list {
    position: relative;
    height: 100%;
}

.item-list li {
    position: relative;
    width: 180px;
    height: 166px;
    padding: 35px 12px 0px;
    text-align: center;
}

.item-list li:not(:first-child)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0px;
    right: 0;
    height: 100px;
    width: 1px;
    background-color: #e0e0e0;
}

.item-list img {
    width: 180px;
    margin-bottom: 18px;
}

.item-list .title, .item-list .price {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.item-list .title {
    color: #333;
}

.item-list .price {
    color: #ff6700;
}

.header-query {
    float: right;
}

.header-query:hover .query-input,
.header-query:hover .query-icon {
    border-color: #b0b0b0;
    transition: all .3s;
}

.query-input {
    float: left;
    position: relative;

    margin-top: 25px;
    padding: 0 10px;

    width: 223px;
    height: 48px;

    border: 1px solid #e0e0e0;
}

.query-input input {
    width: 223px;
    height: 48px;
    font-size: 14px;
    position: absolute;
}

.query-icon {
    float: left;
    position: relative;
    margin-top: 25px;
    width: 52px;
    height: 48px;
    color: #616161;
    font-size: 18px;
    border: 1px solid #e0e0e0;
    border-left: none;
}

#query-icon:hover {
    border: 1px solid #ff6700;
    border-left: none;
}

.query-icon:hover i {
    background-color: #ff6700;
    color: #fff;
    transition: all .3s;
}

.query-icon i {
    position: absolute;
    line-height: 48px;
    width: 100%;
    color: #616161;
    text-align: center;
}
/* 网页头部LOGO栏样式表 结束 */

/* 网页菜单栏轮播图样式表 开始 */

.menu-swiper-banner {
    height: 670px;
    margin: 0 auto;
}

.menu-swiper {
    position: relative;
    width: 100%;
    height: 460px;
}

/* 左侧菜单 */
.menu-swiper .menu {
    position: relative;
    padding: 20px 0px;
    height: 420px;
    width: 234px;
    background-color: rgba(105,101,101,.6);
    z-index: 12;
}

.menu li {
    height: 42px;
    line-height: 42px;
    width: 204px;
    padding-left: 30px;
}

.menu li:hover {
    background-color: #ff6700;
}

.menu li:hover .sub-menu-item,
.sub-menu-item:hover {
    display: block;
}

.menu a {
    color: #fff;
    font-size: 14px;
}

.menu i {
    font-size: 14px;
    float: right;
    line-height: 42px;
    padding-right: 30px;
}

.sub-menu-item {
    position: absolute;
    top: 0px;
    left: 234px;
    height: 459px;
    width: 992px;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .3);
    background-color: #fff;
    z-index: 99;
    display: none;
    color: #333;
}

/* 轮播图图片 */
.menu-swiper .swiper {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 460px;
    width: 1226px;
    color: #fff;
}

.swiper-item {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 460px;
    opacity: 0;
    transition: opacity .5s;
}

.swiper-item img {
    width: 1226px;
    height: 460px;
}

.curr-item {
    opacity: 1;
}

/* 轮播图左右按钮 */
.swiper-btn {
    position: absolute;
    top: 195px;
    width: 41px;
    height: 69px;
    line-height: 69px;
    font-size: 48px;
    text-align: center;
    z-index: 16;
}

.swiper-btn a {
    display: block;
    line-height: 69px;
    color: #c0c0c0;
}

.swiper-btn i {
    line-height: 69px;
}

.swiper-btn:hover {
    background-color: rgba(0, 0, 0, .5);
}

.swiper-btn:hover a {
    color: #e0e0e0;
}    

.swiper-left {
    left: 234px;
}

.swiper-right {
    right: 0px;
}

.swiper-dots {
    position: absolute;
    bottom: 60px;
    right: 10px;
    height: 12px;
    width: 128px;
    z-index: 16;
}

.dot {
    float: left;
    background-color: #aaa;
    margin: 0 4px;
    width: 9px;
    height: 9px;
    border: 1px solid rgba(224, 224, 224, .15);
    border-radius: 50%;
}

.dot:hover, .curr-dot {
    background-color: #e0e0e0;
    border: 1px solid #aaa;
}

/* 菜单横幅样式表 */
.menu-banner {
    position: relative;
    width: 100%;
    height: 170px;
    margin-top: 14px;
}

.menu-banner .menu-btn {
    width: 228px;
    height: 164px;
    background-color: #5f5750;
    padding: 3px;
    text-align: center;
}

.menu-btn li {
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}

.menu-btn li:hover a {
    opacity: 1;
}

.menu-btn li::before,
.menu-btn li::after {
    position: absolute;
    content: '';
    background-color: #665e57;
}

.menu-btn li::before {
    top: 0px;
    left: 6px;
    height: 1px;
    width: 58px;
}


.menu-btn li::after {
    top: 6px;
    left: 0px;
    height: 70px;
    width: 1px;
}

.menu-btn img {
    width: 24px;
    height: 24px;
    margin: 0 23px 4px;
}

.menu-btn a {
    display: block;
    position: relative;
    color: #fff;
    font-size: 12px;
    opacity: .7;
    padding-top: 18px;
}

.product-banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 992px;
    height: 170px;
}

.product-banner li {
    float: left;
}

.product-banner li:first-child {
    margin-left: 14px;
}

.product-banner li:not(:first-child) {
    margin-left: 15px;
}

.product-banner img {
    width: 316px;
    height: 170px;
}

/* 网页菜单栏轮播图样式表 结束 */

/* 产品主页样式表 开始 */
.page-main {
    width: 100%;
    padding-top: 8px;
    background-color: #f5f5f5;
}
/* 产品主页样式表 结束 */

/* 中间banner样式表 开始 */

.center-banner {
    margin: 22px auto;
}

/* 中间banner样式表 结束 */

/* 手机产品样式表 开始 */
.product-phone {
    width: 1226px;
    height: 686px;
    margin-bottom: 8px;
}

.phone-title {
    position: relative;
    height: 58px;
    line-height: 58px;
}

.phone-text {
    line-height: 58px;
    font-size: 22px;
    font-weight: 200;
}

.phone-more {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 58px;
}

.phone-more:hover a {
    color: #ff6700;
}

.phone-more:hover span {
    background-color: #ff6700;
    color: #fff;
}

.phone-more a {
    padding-right: 28px;
    font-size: 16px;
    color: #333;
    transition: all .3s;
}

.phone-more span {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    margin: 19px 0;
    background-color: #aaa;
    border-radius: 50%;
    color: #fff;
    transition: all .3s;
}

.phone-more i {
    display: block;
    line-height: 20px;
    padding-left: 6px;
    position: absolute;
    color: #fff;
    transition: all .3s;
}

.phone-product {
    position: relative;
    height: 628px;
}

.main-phone-product img {
    width: 234px;
    height: 614px;
    background-color: #fff;
    transition: all .5s;
}

.main-phone-product img:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}

.phone-product-list {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 992px;
    height: 614px;
    margin-left: 14px;
    margin-bottom: 14px;
}

.phone-product-list li {
    float: left;
    width: 234px;
    height: 300px;
    margin-left: 14px;
    margin-bottom: 14px;
    transition: all .5s;
}

.phone-product-list li:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}

.phone-product-list li a {
    display: block;
    width: 234px;
    height: 260px;
    padding: 20px 0;
    background-color: #fff;
    text-align: center;
}

.phone-product-list img {
    width: 160px;
    height: 160px;
    margin-bottom: 18px;
}

.phone-product-list .title {
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    font-weight: 400;
    color: #333;
    margin: 0 10px 2px;
}

.phone-product-list .desc {
    font-size: 12px;
    color: #b0b0b0;
    margin-bottom: 10px;
}

.phone-product-list .price {
    color: #ff6700;
}

/* 手机产品样式表 结束 */